#main-page-content {
  position: relative;
  width: 50%;
  margin-top: 5%;
}

h1 {
  position: relative;
  text-align: center;
}

h3 {
  position: relative;
  text-align: center;
}

#logo {
  position: relative;
  left: 35%;
  margin-top: 3%;
}

#start_button {
  position: relative;
  margin-top: -32%;
  right: 1%;
}
