@import url('https://fonts.googleapis.com/css?family=Jockey+One|Rajdhani:700');

h1 {
  text-align: center;
  margin-top: 4%;
}

h3 {
  text-align: center;
}

section{
  display:  block;
  position: relative;
  width:400px;
  height:180px;
  margin:0 auto;
  background:hsla(0,0%,15%,1);
  box-shadow: 0 12px 15px 0 hsla(0, 0%, 0%, 0.20),0 17px 50px 0 hsla(0, 0%, 0%, 0.15);
  & code{
    font-size:11em;
    color:hsla(7, 80%, 40%, 1);
    padding:0;
    font-family: 'Jockey One', sans-serif;
    &#one{
      float:left;
      margin:-1rem 2.5rem;
    }
    &#two{
      float:right;
      margin:-1rem 2.5rem;
    }
  }
  & span.circle{
     display:inline-block;
     height:.9rem;
     width:.9rem;
     border-radius:50%;
     &#c1{
      background:hsla(7, 80%, 40%, 1);
      margin:2.5rem -2rem;
    }
    &#c2{
      margin:2.5rem 2rem;
      background:hsla(167, 95%, 25%, 1);
    }
    &#c3{
      margin:2.5rem -1.9rem;
      background:hsla(167, 5%, 85%, 1);
    }
    &#c4{
      margin:2.5rem 2rem;
      background:hsla(191, 90%, 35%, 1);
    }
    &#c5{
      margin:2.5rem -1.9rem;
      float:right;
      background:hsla(167, 5%, 85%, 1);
    }
    &#c6{
      margin:-2rem -2rem;
      float:left;
      background:hsla(216, 95%, 30%, 1);
    }
    &#c7{
      margin:-2rem 3.3rem;
      float:right;
      background:hsla(7, 80%, 40%, 1);
    }
    &#c8{
      margin:-2rem -.9rem;
      float:right;
      background:hsla(167, 5%, 85%, 1);
    }
    &#c9{
      margin:-2rem -2rem;
      float:right;
      background:hsla(165, 90%, 35%, 1);
    }
    &#c10{
      margin:-1.5rem -1.9rem;
      float:left;
      background:hsla(191, 90%, 35%, 1);
    }
    &#c11{
      margin:-1.5rem 2.5rem;
      float:left;
      background:hsla(167, 95%, 25%, 1);
    }
    &#c12{
      margin:-1.5rem 3.7rem;
      float:left;
      background:hsla(7, 80%, 40%, 1);
    }
    &#c13{
      margin:-1.5rem 4.9rem;
      float:left;
      background:hsla(191, 90%, 35%, 1);
    }
    &#c14{
      margin:-1.5rem .6rem;
      float:right;
      background:hsla(191, 90%, 35%, 1);
    }
    &#c15{
      margin:-1.5rem -2.08rem;
      float:right;
      background:hsla(216, 95%, 30%, 1);
    }
    &#c16{
      margin:-1rem -1.8rem;
      float:left;
      background:hsla(7, 80%, 40%, 1);
    }
    &#c17{
      margin:-1rem -.6rem;
      float:left;
      background:hsla(167, 5%, 85%, 1);
    }
    &#c18{
      margin:-1rem .6rem;
      float:left;
      background:hsla(7, 80%, 40%, 1);
    }
    &#c19{
      margin:-1rem 2.5rem;
      float:right;
      background:hsla(7, 80%, 40%, 1);
    }
    &#c20{
      margin:-1rem -2.15rem;
      float:right;
      background:hsla(43, 95%, 55%, 1);
    }
  }
  & span.bar{
     display:inline-block;
     height:.9rem;
     width:2.85rem;
     border-radius:25px;
     &#bar1{
      margin:2.5rem -1.85rem;
      background:hsla(216, 95%, 30%, 1);
    }
    &#bar2{
      margin:2.5rem 2.1rem;
      background:hsla(165, 90%, 35%, 1);
    }
    &#bar3{
      margin:2.5rem -1.85rem;
      background:hsla(43, 95%, 55%, 1);
    }
    &#bar4{
      margin:-2rem -.7rem;
      float:left;
      background:hsla(7, 80%, 40%, 1);
    }
    &#bar5{
      margin:-2rem 2.5rem;
      width:1.5rem;
      float:left;
      background:hsla(43, 95%, 55%, 1);
    }
    &#bar6{
      margin:-2rem 3.2rem;
      width:3.2rem;
      float:left;
      background:hsla(167, 5%, 85%, 1);
    }
    &#bar7{
      margin:-2rem .3rem;
      float:right;
      background:hsla(216, 95%, 30%, 1);
    }
    &#bar8{
      margin:-1.5rem -1.8rem;
      float:left;
      width:3.9rem;
      background:hsla(216, 95%, 30%, 1);
    }
    &#bar9{
      margin:-1.5rem 2.5em;
      float:right;
      background:hsla(43, 95%, 55%, 1);
    }
    &#bar10{
      margin:-1.5rem -2rem;
      float:right;
      width:2.3rem;
      background:hsla(7, 80%, 40%, 1);
    }
    &#bar11{
      margin:-1rem 1.8rem;
      float:left;
      background:hsla(191, 90%, 35%, 1);
    }
    &#bar12{
      margin:-1rem 2.6rem;
      width:3.3rem;
      float:right;
      background:hsla(167, 5%, 85%, 1);
    }
    &#bar13{
      margin:-1rem -1rem;
      width:3.1rem;
      float:right;
      background:hsla(165, 90%, 35%, 1);
    }
  }
}
